<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All university students</title>
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">OUR UNIVERSITY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/courses}">Courses<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/students}">Students<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/professors}">Professors<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-4">
  </div>
  <div align="center" ></div> <h2> ADD STUDENTS TO COURSE  </h2>  </div>

<br>

<span th:if="${allStudents.size() == 0}">

  <h3 ><center>No one student's in base! Want to add first?</center></h3>
  <br/>
  <center><a th:href="@{/students/new}" class="btn btn-primary">Add Student</a></center>
  <br/>

</span>
<span th:if="${allStudents.size() > 0}">

<div class="container">

  <h3>List Of Students</h3>
  <br/>
        <div th:each="s : ${studentNotFromCourse}">
            <table class="table table-bordered table-striped">

              <thead>
              <tr>
                <th>ID</th>
                <th>Student name</th>
                <th>Student last name</th>
                <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                        <td th:text="${s.id}"/>
                        <td th:text="${s.name}" />
                        <td th:text="${s.lastName}" />
                        <td>
                           <form th:object="${courseForStudent}"
                                 th:action="@{/courses/set-student/{id}/{sId} (id=${courseForStudent.id}, sId=${s.id})}"
                                 th:method="patch">
                            <button type="submit" class="btn btn-primary">ADD</button>
                          </form>

                        </td>

                        </tr>
                </tbody>
              </table>
        </div>

</div>

</span>

</body>
</html>